.neko-chat .input {
  height: 10%;
  width: 100%;



  display: flex;
  gap: 0.5vw;
}


.neko-chat .message-input {
  font-size: 2vh;

  background: rgba(8, 5, 12, 0.55);


  height: 100%;
  width: 100%;

  border-radius: 1vw;
  overflow: hidden;

  padding-left: 5%;
  padding-right: 5%;
}


#send {
  color: #c479f5;
  background: rgba(196, 121, 245, 0.10);

  padding: 0.5vw;

  border-radius: 1vw;
}

#send:hover {
  background: rgba(196, 121, 245, 0.20);
}

#send:active {
  background: rgba(196, 121, 245, 0.30);
}

#message-input {
    

}

