.neko-chat .messages {
  height: 40%;
  margin-top: auto;

  display: flex;
  flex-direction: column;
  gap: 1vh;


scrollbar-width: none;

  overflow-y: auto;
  overflow-x: hidden;
}

.messages::-webkit-scrollbar {
  width: 0.4vw;
}

.messages::-webkit-scrollbar-track {
  background: transparent;
}

.messages::-webkit-scrollbar-thumb {
  background: rgba(196, 121, 245, 0.4);
  border-radius: 100vw;
}
.message-neko,
.message-user {
  padding: 1vh 1vw;
  border-radius: 1vw;
  max-width: 75%;
  font-size: x-large;
   
}


.message-neko {
  background: rgba(40, 22, 52, 0.75);
  align-self: flex-start;
}

.message-user {
  background: rgba(125, 62, 165, 0.75);
  align-self: flex-end;
}

