.menu {
  height: 50vh;
  width: 15vw;
  color: #c479f5;
  background-color: #140e1cf5;

  border-end-end-radius: 2vw;;
}


.menu-rooms {

  height: 10vh;
  background-color: #140e1cf5;
  color: #c479f5;
}

.neko-chat {
  width: 30vw;
  height: 80vh;

  max-width: 30vw;
  max-height: 80vh;
  position: absolute;
  right: 10vw;
  top: 15vh;

  padding: 2vh;

  background-color: #140e1cf5;
  color: #c479f5;
}


body {
  margin: 0;
  min-height: 100vh;
  position: relative;
}

footer {
  position: absolute;

  left: 0;
  bottom: 0;

  width: 100%;
  height: 10vh;

  background-color: #140e1cf5;
}


.chat-header {
  height: 10%;
}

.neko-screen {
  position: relative;

  height: 30%;

  border-radius: 1vw;
  
  overflow: hidden;
}

.messages {
  height: 40%;
}

.typing {
  height: 10%;
}

.input {
  height: 10%;
}

svg {
  height: 100%;
}

.dark-glass {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.829);
  position: absolute;
  top: 0;
  max-width: 100%;
  max-height: 100%;
}


.blur {
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
}